$fLevelTitle:50px; // 一级标题
$sLevelTitle:36px; // 二级标题
$paragraphFont:28px; // 段落
$smallFont:24px; // 小号字体
$defaultColorFont:#222; // 默认黑字体
$grayColorFont:#555; // 默认灰字体
$redColorFont: #e11e45; // 默认红字体